@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
}

div{
	display: flex;
	min-height: 97vh;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}

h3{
	align-self: center;
}