@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
}

div{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}