body {
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
}

#all{
	display: flex;
	min-height: 100vh;
	min-width: 100vh;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}

h3{
	align-self: center;
	text-align: center;
}

input[type=text]{
	height: 50px;
}

::placeholder{
	color: #757d6f;
}

#entrar{
	color: white;
	border-color: rgb(60, 60, 168);
	background-color: rgb(60, 60, 168);
	border-radius: 5px;
	width: 177px;
	height: 60px;
}

#olvide {
	display: inline-block;
	align-self: center;
	text-decoration: none;

	border-radius: 15px;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #757d6f;
  	border-right: 1px solid #757d6f;
  	border-bottom: 1px solid #757d6f;
	border-left: 1px solid #757d6f;
	
	font-size:15px;
	font-family:Arial;
	color: #757d6f;
	font-weight: bold;
	background-color: transparent;
  }